@import "mixins/zen";

$zen-auto-include-item-base: false;

$zen-column-count: 9;
$zen-gutter-width: 20px;

body {
	@include zen-grid-container;
}

.example-element {
	@include zen-grid-item-base();
	padding-top: zen-half-gutter();
	padding-bottom: zen-half-gutter();
	text-align:center;

	@include small{
		@include zen-clear;
		@include zen-grid-item(9, 1);
	}
}

.example-element-1 {
	background-color: salmon;

	@extend .example-element;
	@include zen-grid-item(9, 1);
}

.example-element-2 {
	background: rosybrown;

	@extend .example-element;
	@include zen-clear;

	@include medium-only{
		@include zen-grid-item(6, 4);
	}

	@include large{
		@include zen-grid-item(5, 3);
	}
}
.example-element-3 {
	background: paleGoldenRod ;

	@extend .example-element;

	@include medium-only{
		@include zen-grid-item(3, 1);
	}

	@include large{
		@include zen-grid-item(2, 1);
	}
}

.example-element-4 {
	background: seaGreen ;

	@extend .example-element;

	@include medium-only{
		@include zen-clear;
		@include zen-grid-item(6, 1);
	}

	@include large{
		@include zen-grid-item(2, 1, right);
	}
}

.example-element-5 {
	background: steelBlue ;

	@extend .example-element;

	@include medium-only{
		@include zen-grid-item(3, 7);
	}
	@include large{
		@include zen-clear(right);
		@include zen-grid-item(2, 1, right);
	}
}

.element-number {
	display:block;
	font-size: 12em;
}

.example-content {
	background-color: rgba(255,255,255,.3);
	text-align:left;
	margin: 0;
}