@mixin mq ($min-width: 600px){
	@media all and (min-width: $min-width) {
		@content;
	}
}

@mixin small{
	@include mq (300px) {
		@content;
	}
}

@mixin medium{
	@include mq (600px) {
		@content;
	}
}

.example-element-1 {
	background: salmon;

	@include small {
		background: PaleGoldenRod ;
	}

	@include medium {
		background:Turquoise ;
	}
}

.example-element-2 {
	background: rosybrown;

	@include small {
		background:SeaGreen ;
	}

	@include medium {
		background: SteelBlue ;
	}
}