$small-max: 300px;
$medium-max: 600px;

$medium-min: $small-max + 1;
$large-min: $medium-max + 1;

@mixin mq ($max-width:"", $min-width:""){
	@if($max-width!="" and $min-width!=""){
		@media all and (min-width: $min-width) and (max-width: $max-width){
			@content;
		}
	}
	@else if ($max-width!=""){
		@media all and (max-width: $max-width) {
			@content;
		}
	}
	@else if ($min-width!=""){
		@media all and (min-width: $min-width) {
			@content;
		}
	}
}

@mixin small{
	@include mq ($max-width: $small-max) {
		@content;
	}
}

@mixin medium{
	@include mq ($min-width: $medium-min) {
		@content;
	}
}

@mixin medium-only{
	@include mq ($min-width: $medium-min, $max-width: $medium-max) {
		@content;
	}
}

@mixin large{
	@include mq ($min-width: $large-min) {
		@content;
	}
}

.example-element-1 {
	background: salmon;

	@include medium {
		background: PaleGoldenRod ;
	}

	@include large {
		background:Turquoise ;
	}
}

.example-element-2 {
	background: rosybrown;

	@include medium {
		background:SeaGreen ;
	}

	@include large {
		background: SteelBlue ;
	}
}