@mixin mq ($min-width){
	@media all and (min-width: $min-width) {
		@content;
	}
}

.example-element-1 {
	background: salmon;

	@include mq(300px) {
		background: PaleGoldenRod ;
	}

	@include mq(600px) {
		background:Turquoise ;
	}
}

.example-element-2 {
	background: rosybrown;

	@include mq(300px) {
		background:SeaGreen ;
	}

	@include mq(600px) {
		background: SteelBlue ;
	}
}