$small-max: 500px;
$medium-max: 900px;

$medium-min: $small-max + 1;
$large-min: $medium-max + 1;

@mixin mq ($max-width:"", $min-width:""){
	@if($max-width!="" and $min-width!=""){
		@media all and (min-width: $min-width) and (max-width: $max-width){
			@content;
		}
	}
	@else if ($max-width!=""){
		@media all and (max-width: $max-width) {
			@content;
		}
	}
	@else if ($min-width!=""){
		@media all and (min-width: $min-width) {
			@content;
		}
	}
	@else {
		@content;
	}
}