/* line 46, ../sass/mixins/_zen.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 50, ../sass/mixins/_zen.scss */
body:after {
  clear: both;
}

/* line 10, ../sass/_styles.scss */
.example-element, .example-element-1, .example-element-2, .example-element-3, .example-element-4, .example-element-5 {
  padding: 10px inherit;
  text-align: center;
}

/* line 20, ../sass/_styles.scss */
.example-element-1 {
  background-color: salmon;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 27, ../sass/_styles.scss */
.example-element-2 {
  background: rosybrown;
  clear: left;
  float: left;
  width: 66.66667%;
  margin-left: 33.33333%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 41, ../sass/_styles.scss */
.example-element-3 {
  background: paleGoldenRod;
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 55, ../sass/_styles.scss */
.example-element-4 {
  background: seaGreen;
  clear: left;
  float: left;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 70, ../sass/_styles.scss */
.example-element-5 {
  background: steelBlue;
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 84, ../sass/_styles.scss */
.element-number {
  display: block;
  font-size: 12em;
}

/* line 89, ../sass/_styles.scss */
.example-content {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
  margin: 0;
}
