body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

.example-element, .example-element-1, .example-element-2, .example-element-3, .example-element-4, .example-element-5 {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.example-element-1 {
  background-color: salmon;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
}

.example-element-2 {
  background: rosybrown;
  clear: left;
  float: left;
  width: 66.66667%;
  margin-left: 33.33333%;
  margin-right: -100%;
}

.example-element-3 {
  background: paleGoldenRod;
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -100%;
}

.example-element-4 {
  background: seaGreen;
  clear: left;
  float: left;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: -100%;
}

.example-element-5 {
  background: steelBlue;
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
}

.element-number {
  display: block;
  font-size: 12em;
}

.example-content {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
  margin: 0;
}
