@media all and (max-width: 300px) {
  /* line 1, ../sass/_styles.scss */
  .example-element-1 {
    background: salmon;
  }
}
@media all and (min-width: 301px) {
  /* line 1, ../sass/_styles.scss */
  .example-element-1 {
    background: paleGoldenRod;
  }
}
@media all and (min-width: 601px) {
  /* line 1, ../sass/_styles.scss */
  .example-element-1 {
    background: turquoise;
  }
}

@media all and (max-width: 300px) {
  /* line 15, ../sass/_styles.scss */
  .example-element-2 {
    background: rosybrown;
  }
}
@media all and (min-width: 301px) {
  /* line 15, ../sass/_styles.scss */
  .example-element-2 {
    background: seaGreen;
  }
}
@media all and (min-width: 601px) {
  /* line 15, ../sass/_styles.scss */
  .example-element-2 {
    background: steelBlue;
  }
}
